/*Embedded Font*/
@font-face{
	font-family: 'Charlemagne std';
	src: url('https://www.methockey.com/fonts/charlemagne-std/CharlemagneStd-Bold.otf') format('embedded-opentype'),
	url('https://www.methockey.com/fonts/charlemagne-std/CharlemagneStd-Bold.woff') format('woff');
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /*force all images to be responsive*/
  img
      {
        width: 100%;
        height: auto;
    }

  @media (min-width: 320px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/*Added from FU Hockey Site*/
p, span, ul, li {
text-align:left; 
color: black; 
font: 10pt "Verdana"}

.bodyTag { 
margin: 0 0 0 0;
padding-top: 0 !important ; 
background-image: url(/images/background.gif)
}

a.homepagelink, a.PageTitleBreadCrumb { 
color: #344f7c;
/*color: #5e183e; */
text-align: left; 
font: 10pt "Tahoma"}

a.homepagelink:link, a.PageTitleBreadCrumb:link {
text-decoration: underline;
/*color: #0000CC; */
}

a.PageTitleBreadCrumb {
font-weight:bold}

.TeamPageScheduleTwitterWidth {
	width:100%;
	max-width:500px;
	text-align:center;
	padding-bottom:20px;
}

.PlayerOfTheMonth{
	font-size:16px;
	font-weight:bold;
}

/* Added Breadcrumb for Responsive pages, May 2019*/
.breadcrumb {
	padding-top: 0px !important; /* any adjustment here should also be applied to the jumbotron pic on index.shtml */
	border: 2px solid black; 
	border-radius:5px;
	padding-left: 20px !important;
	background-color: #c9daf8;
}

/*Added this for responsive IFRAMEs */
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }

/* Table properties */

th {
  height: 50px;
}

td {
	height: 30px;
	vertical-align: middle; /* it should default to this anyway; may need to remove any local or inline CSS to prevent this being overridden */
}

.TableHeader {
	background:#344f7c; 
	color:white !important;
	font-weight:bold;
}

.TableStandard {
	max-width:500px;
	min-width:300px; 
	/*border:thin;*/
	border-width: 1px; 
	border-color: #CCC;	
	margin: auto; /* This ensures that the table will center inside of a DIV */
}

.TableStandard td {
	text-align:center;
	vertical-align:center;
	border-width: 1px; 
	border-color: #CCC;	
}

.TableSubHeader {
	font-weight:bold;
	}

.TableNotes {
	font-style:italic;
	font-size:13px;
}

.Standings-Team {
	text-align:left !important;
}

/* Button properties */

.btn-secondary {
	width: 250px; 
	border-radius: 10px !important;
	background-color: #1b95e0 !important;
	text-decoration: none !important;
}

a:link {
text-decoration: underline;
}

.nav-link, .nav-item , .navbar-brand {
text-decoration:none !important;
}

/* Custom styles in addition to out-of-the-box bootstrap */
div.dropdown-menu{
	border: 2px solid black; 
  }	

  .text-align-center {
	text-align: center;
  }
  
  /* Everything below was ported over from gallop.css when the upgrade to Bootstrap 5.1 was made in Dec 2023*/

  /* Added these to overwrite the bootstrap classes for the nav bar */

.nav-link {
	color: #FFFFFF !important;
	font-weight: bold !important;
  }
  
  .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
  /* End custom nav bar overwrites */
  
  /* BEGIN Custom CSS for nav bar "X" */
  
  .navbar-toggler {
	width: 20px;
	height: 20px;
	position: relative;
	transition: .5s ease-in-out;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
	border: 0;
	position: relative;
  }
  
  .navbar-toggler span {
	margin: 0;
	padding: 0;
  }
  
  .toggler-icon {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #FFFFFF;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
  }
  
  .middle-bar {
	margin-top: 0px;
  }
  
  
  /* State when the navbar is collapsed */
  
  .navbar-toggler.collapsed .top-bar {
	position: absolute;
	top: 0px;
	transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-bar {
	opacity: 1;
	position: absolute;
	top: 10px;
	filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar {
	position: absolute;
	top: 20px;
	transform: rotate(0deg);
  }
  
  /* when navigation is clicked */
  
  .navbar-toggler .top-bar {
	top: inherit;
	transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar {
	opacity: 0;
	top: inherit;
	filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar {
	top: inherit;
	transform: rotate(-135deg);
  }
  
  .upcoming-races-day-row {
	background-color: #e9ecef;
	font-style: italic;
  }
  
  /* Color of 3 lines */
  
  .navbar-toggler.collapsed .toggler-icon {
  /*   background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% ); */
  }
  
  /* END Custom CSS for nav bar "X" */
  
  /*This is used as an add-on style for the main body of the page*/
  .container-round-border {
    border: 2px solid black; 
    border-radius:5px;
    background-color: #FFF;
  }

  /* this is used to force the breadcrumb separator to be white */
  .breadcrumb-item+.breadcrumb-item::before {
    color: #000 !important;
  }

  .round-border{
    border: 2px solid #344f7c; 
    border-radius:20px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom: 10px;
    background-color: #e5ecf9;
    text-align: center;
   /* padding-left: 10px;
    padding-right: 10px; */
  }
